@using Ogani.Data.Entities;


@model List<Product>

@{
}



<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
                                                                href="https://datatables.net">official DataTables documentation</a>.
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Products</h6>
    </div>
    <div class="text-center m-0">
        <a class="btn btn-success m-1" asp-controller="Products" asp-action="Create" class="btn btn-info">Create new Product</a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Short Description</th>
                        <th>Image Name</th>
                        <th>Price</th>
                        <th>Weight</th>
                            
                            
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Short Description</th>
                        <th>Image Name</th>
                        <th>Price</th>
                        <th>Weight</th>
                    </tr>
                </tfoot>
                <tbody>
                        
                    @foreach (Product product in Model)
                    {
                        <tr>
                            <td>@product.ProductName</td>
                            <td>@product.ProductShortDescription</td>
                            <td>@product.ProductImageName</td>
                            <td>@product.Weight</td>
                            <td>@product.ProductPrice</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductID" class="btn btn-info">Details</a>
                                    <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.ProductID" class="btn btn-danger">X</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
