@using Ogani.Areas.Admin.Models;
@using Ogani.Data.Entities;
@model ProductListViewModel
@{
    ViewData["Title"] = "Products";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
                                                               href="https://datatables.net">official DataTables documentation</a>.
</p>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All products</h6>
    </div>
    <a asp-controller="Products" asp-action="Create" class="btn btn-info">Create product</a>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                @if (Model.Products.Any())
                {
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr> 
                    </thead> 

                    <tbody>
                        @foreach (Product product in Model.Products)
                        {
                            <tr>
                                <td>@product.ProductName</td>
                                <td>@product.ProductDescription</td>
                                <td><img src="~/img/product/@product.ProductImageName" height="50px" /></td>
                                <td>@product.ProductPrice</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductID" class="btn btn-info">Detais</a>
                                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.ProductID" class="btn btn-danger">X</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6" class="pagination text-centar">
                                @if (Model.PageNumber > 1)
                                {
                                    <a asp-action="Products" asp-route-page="1" asp-route-pageSize="@Model.PageSize">First</a>
                                    <a asp-action="Products" asp-route-page="@(Model.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
                                }
                                @for (var i = 1; i <= Model.TotalCount; i++)
                                {
                                    <span class="@(i == Model.PageNumber ? "selected" : "")">
                                        <a asp-action="Products" asp-route-page="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                                    </span>
                                }
                                @if (Model.PageNumber < Model.TotalCount)
                                {
                                    <a asp-action="Products" asp-route-page="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
                                    <a asp-action="Products" asp-route-page="@Model.TotalCount" asp-route-pageSize="@Model.PageSize">Last</a>
                                }
                            </th>
                        </tr>
                    </tfoot>
                }
                else
                {
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Short Descriptio</th>
                            <th>Image Name</th>
                            <th>Weight</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td colspan="6" class="text-centar">No products available.</td>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6" class="pagination text-centar">
                                @if (Model.PageNumber > 1)
                                {
                                    <a asp-action="Products" asp-route-page="1" asp-route-pageSize="@Model.PageSize">First</a>
                                    <a asp-action="Products" asp-route-page="@(Model.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
                                }
                                @for (var i = 1; i <= Model.TotalCount; i++)
                                {
                                    <span class="@(i == Model.PageNumber ? "selected" : "")">
                                        <a asp-action="Products" asp-route-page="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                                    </span>
                                }
                                @if (Model.PageNumber < Model.TotalCount)
                                {
                                    <a asp-action="Products" asp-route-page="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
                                    <a asp-action="Products" asp-route-page="@Model.TotalCount" asp-route-pageSize="@Model.PageSize">Last</a>
                                }
                            </th>
                        </tr>
                    </tfoot>
                }
            </table>
        </div>
    </div>
</div>